body {
    padding: 0;
    margin: 0;
    background-color: #333;
}

#login {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
}

span {
    color: green;
}

.card {
    background-color: rgba(19, 19, 19, 0.3);
    padding: 40px;
    border-radius: 2px;
    width: 280px;
}

.card-header {
    padding-bottom: 50px;
    opacity: 0.8;
    color: #fff;
}

.card-header::after {
    content: "";
    width: 80px;
    height: 1px;
    background-color: #fff;
    display: block;
    margin-top: -17px;
    margin-left: -7px;
}

.card-content label {

    color: #fff;
    font-size: 12px;
    opacity: 0.8;

}

.card-content-area {

    display: flex;
    flex-direction: column;
    padding: 10px 0;
}

.card-content-area input {

    margin-top: 10px;
    padding: 0 5px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #e1e1e1;
    outline: none;
    color: #fff;
}

.card-footer {
    display: flex;
    flex-direction: column;
}

.card-footer .submit {
    width: 100%;
    height: 40px;
    background-color: darkgreen;
    border: none;
    color: #e1e1e1;
    margin: 10px 0;
    border-radius: 5px;
}

.card-footer a {
    text-align: center;
    font-size: 12px;
    opacity: 0.8;
    color: #fff;
    text-decoration: none;
}

.back {
    text-decoration: none;
    background-color: darkgreen;
    border: none;
    color: #e1e1e1;
    border-radius: 5px;
    padding: 15px 20px;
    cursor: pointer;
    margin-bottom: 10px;
}

#ok {
    color: green;
    display: none;
}

#nok {
    color: red;
    display: none;
}

.picture__input {
    display: none;
}

.picture {
    width: 120px;
    height: 80px;
    background: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px dashed rgb(59, 189, 59);
    cursor: pointer;
    font-family: sans-serif;
    transition: background 300ms ease-in-out;
}

.picture:hover {
    background: #333;
}